body {
  margin: 0;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #4f4e4c;
  background-color: #ebede3;
  padding-top: 72px;
}

.recent-post {
  margin-bottom: 20px;
  .recent-post-header {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dfe1d6;
    -webkit-box-shadow: 0px 1px 0px 0px #fff;
    -moz-box-shadow: 0px 1px 0px 0px #fff;
    box-shadow: 0px 1px 0px 0px #fff
  }
  .recent-post-header a {
    color: #3d3b36
  }
  .post-info {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #6d7b78;
    font-size: 12px
  }
  .post-date {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #c1cbc9
  }
  .post-comments {
    color: #6d7b78
  }
  .post-like {
    padding: 5px 10px;
    background: #e2f1ed;
    color: #38413f;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    border: 1px solid #d0e1dd;
    -webkit-box-shadow: inset 1px 1px 1px 0px #fff;
    -moz-box-shadow: inset 1px 1px 1px 0px #fff;
    box-shadow: inset 1px 1px 1px 0px #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px i {
      color: #bfd4ce;
      margin-right: 5px;
      text-shadow: 1px 1px 0px #fff, -1px -1px 0px #a0b7b0;
      -webkit-transition: all 200ms linear;
      -moz-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      transition: all 200ms linear
    }
    &:hover {
      background-color: #e08066;
      text-decoration: none;
      color: #fff;
      border-color: #d27156;
      -webkit-box-shadow: inset 1px 1px 1px 0px #efa08b;
      -moz-box-shadow: inset 1px 1px 1px 0px #efa08b;
      box-shadow: inset 1px 1px 1px 0px #efa08b i {
        color: #fff;
        text-shadow: 1px 1px 0px #9a4d38
      }
    }
  }
  .post-image {
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 2px 2px #fff;
    -moz-box-shadow: 0px 0px 2px 2px #fff;
    box-shadow: 0px 0px 2px 2px #fff
  }
  .post-image-full-width {
    margin-bottom: 15px
  }
  .post-image-aside {
    margin-bottom: 10px
  }
  .post-content {
    margin-bottom: 15px;
    font-size: 16px
  }
  .separated {
    border-bottom: 1px solid #dfe1d6;
    -webkit-box-shadow: 0px 1px 0px 0px #fff;
    -moz-box-shadow: 0px 1px 0px 0px #fff;
    box-shadow: 0px 1px 0px 0px #fff;
    padding-bottom: 15px;
  }
}

.single-post-w {
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 1px 4px 1px #b4b6a9;
  -moz-box-shadow: 0px 1px 4px 1px #b4b6a9;
  box-shadow: 0px 1px 4px 1px #b4b6a9;
  margin-bottom: 30px;
  .post-title {
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 0px;
    margin-top: 0px;
  }
  .post-info {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #b7b4ac;
    -webkit-box-shadow: 0px 1px 2px 0px #e0ded7;
    -moz-box-shadow: 0px 1px 2px 0px #e0ded7;
    box-shadow: 0px 1px 2px 0px #e0ded7;
    .info-item {
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px solid #d2d8db;
      text-transform: uppercase;
      font-size: 12px;
      a.post-tag {
        text-decoration: none;
      }
      .label {
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }
  .post-content {
    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px
  }
  .single-post-image.bottom {
    margin-bottom: 25px
  }
}

.blog-side-search .search-input {
  border: 2px solid #d5d9c4;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #a8b186;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #ebede3;
}

.blog-side-tags {
  .side-tag {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background-color: #c98d7b;
    color: #fff;
    position: relative;
    padding: 0px 24px 0px 20px;
    height: 34px;
    line-height: 34px;
    margin-left: 14px;
    font-size: 16px;
    text-shadow: -1px -1px 0px #ba6e57;
    -webkit-box-shadow: 2px 2px 0px #ba6e57;
    -moz-box-shadow: 2px 2px 0px #ba6e57;
    box-shadow: 2px 2px 0px #ba6e57;
    &:hover {
      background-color: #df9c88;
      text-decoration: none;
      &:before {
        border-color: transparent #df9c88 transparent transparent;
      }
    }
    &:before {
      content: "";
      float: left;
      position: absolute;
      top: 0;
      left: -17px;
      width: 0;
      height: 0;
      border-color: transparent #c98d7b transparent transparent;
      border-style: solid;
      border-width: 17px 17px 17px 0;
    }
    &:after {
      content: "";
      position: absolute;
      top: 14px;
      left: 0;
      float: left;
      width: 8px;
      height: 8px;
      -webkit-box-shadow: -2px -2px 0px #ba6e57;
      -moz-box-shadow: -2px -2px 0px #ba6e57;
      box-shadow: -2px -2px 0px #ba6e57;
      background: #ebede3
    }
  }
  ul {
    margin: 0px;
    list-style: none;
    li {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      margin: 0px 10px 10px 0px;
      position: relative;
    }
  }
}

.blog-categories ul {
  margin: 0px;
  list-style: none
}

.blog-categories ul li {
  margin-bottom: 7px
}

.blog-categories ul li a {
  display: block;
  padding: 9px 10px;
  background-color: #f2f3ec;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
  border-left: 5px solid #f8f9f6;
  color: #898c7f;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: border-width;
  -moz-transition-property: border-width;
  -o-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s
}

.blog-categories ul li a:hover {
  text-decoration: none;
  background-color: #FFF;
  border-left: 15px solid #40a39f
}

.blog-recent-tweets ul {
  margin: 0px;
  list-style: none
}

.blog-recent-tweets ul li {
  margin-bottom: 10px;
  background-color: #FFF;
  padding: 15px;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07)
}

.widget-filled {
  background-color: #FFF;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);
  margin-bottom: 40px
}

.widget-filled h3 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #d5d9c4;
  color: #7b7972;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  margin-top: 0px
}

.widget-filled.widget-yellow {
  background-color: #fffde3
}

.widget-filled ul.big-iconed-tips {
  list-style: none;
  font-size: 16px;
  margin-left: 0px
}

.widget-filled ul.big-iconed-tips li {
  margin-bottom: 10px
}

.widget-filled ul.big-iconed-tips li i {
  font-size: 20px
}

.widget-tp {
  margin-bottom: 40px
}

.widget-tp h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d5d9c4;
  color: #7b7972
}

.widget-tp h3 i {
  color: #c5c4c1;
  margin-right: 5px
}

.post-author-w {
  margin-bottom: 30px
}

.post-author-w .post-author-photo {
  -webkit-box-shadow: 3px 3px 0px 0px #ced0c6;
  -moz-box-shadow: 3px 3px 0px 0px #ced0c6;
  box-shadow: 3px 3px 0px 0px #ced0c6;
  border: 5px solid #fff;
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%
}

.post-author-w .post-author-bio-w {
  font-size: 16px;
  line-height: 24px;
  font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.post-author-w .post-author-bio-w .post-author-name {
  font-size: 18px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dashed #d5d9c4
}

.map-w {
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 4px 0px #bfc5a5;
  -moz-box-shadow: 1px 1px 4px 0px #bfc5a5;
  box-shadow: 1px 1px 4px 0px #bfc5a5
}

.form-transparent {
  margin-bottom: 20px
}

.form-transparent input[type="text"], .form-transparent textarea {
  background-color: #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0px #ebede3;
  -moz-box-shadow: inset 1px 1px 2px 0px #ebede3;
  box-shadow: inset 1px 1px 2px 0px #ebede3;
  border-color: #a8b186;
  padding-top: 10px;
  padding-bottom: 10px
}

.form-transparent .form-actions {
  border-top: none;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px
}

.form-transparent legend {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d9c4;
  line-height: 26px
}

.post-comments-w {
  margin-bottom: 30px
}

.post-comments-list {
  list-style: none;
  margin: 0px;
  margin-bottom: 30px
}

.post-comments-list li {
  border-bottom: 1px dashed #bfc5a5;
  margin-bottom: 15px;
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 10px
}

.post-comments-list li .comment-author-photo {
  -webkit-box-shadow: 3px 3px 0px 0px #ced0c6;
  -moz-box-shadow: 3px 3px 0px 0px #ced0c6;
  box-shadow: 3px 3px 0px 0px #ced0c6;
  border: 5px solid #fff;
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%
}

.post-comments-list li .comment-author {
  padding: 10px;
  padding-top: 0px
}

.post-comments-list li .comment-content {
  background-color: #f6f7f3;
  padding: 15px 20px;
  margin-bottom: 5px;
  -webkit-box-shadow: 1px 1px 4px 1px #e0e3d3;
  -moz-box-shadow: 1px 1px 4px 1px #e0e3d3;
  box-shadow: 1px 1px 4px 1px #e0e3d3;
  position: relative;
  font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.post-comments-list li .comment-content:before {
  content: "";
  float: left;
  position: absolute;
  top: 0px;
  left: -14px;
  width: 0;
  height: 0;
  border-color: transparent #f6f7f3 transparent transparent;
  border-style: solid;
  border-width: 14px 14px 14px 0
}

.post-comments-list li .comment-date {
  font-size: 10px;
  padding-left: 10px
}

.roll-link {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  overflow: hidden;
  vertical-align: top;
  -webkit-perspective: 100px;
  -moz-perspective: 100px;
  -ms-perspective: 100px;
  -o-perspective: 100px;
  perspective: 100px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  font-weight: bold
}

.roll-link.roll-red {
  color: #dc8268
}

.roll-link:hover {
  text-decoration: none
}

.roll-link span {
  display: block;
  position: relative;
  padding: 0 2px;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  -webkit-transform-origin: 50% 0% 50%;
  -moz-transform-origin: 50% 0% 50%;
  -ms-transform-origin: 50% 0% 50%;
  -o-transform-origin: 50% 0% 50%;
  transform-origin: 50% 0% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d
}

.roll-link:hover span {
  background: #3a87ad;
  -webkit-transform: translate3d(0px, 0px, -40px) rotateX(90deg);
  -moz-transform: translate3d(0px, 0px, -40px) rotateX(90deg);
  -ms-transform: translate3d(0px, 0px, -40px) rotateX(90deg);
  -o-transform: translate3d(0px, 0px, -40px) rotateX(90deg);
  transform: translate3d(0px, 0px, -40px) rotateX(90deg)
}

.roll-link.roll-red:hover span {
  background: #dc8268
}

.roll-link span:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 2px;
  color: #fff;
  background: #3a87ad;
  -webkit-transform-origin: 50% 0% 50%;
  -moz-transform-origin: 50% 0% 50%;
  -ms-transform-origin: 50% 0% 50%;
  -o-transform-origin: 50% 0% 50%;
  transform-origin: 50% 0% 50%;
  -webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -moz-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -ms-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -o-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  transform: translate3d(0px, 105%, 0px) rotateX(-90deg)
}

.roll-link.roll-red span:after {
  background: #dc8268
}

.not-found-w h4, .coming-soon-w h4 {
  border-bottom: 1px dashed #d5d8cb;
  padding-bottom: 15px;
  font-weight: 300
}

.not-found-w .not-found-solutions, .coming-soon-w .not-found-solutions {
  margin-bottom: 30px
}

.login-box {
  right: 0px;
  position: absolute;
  padding: 10px 20px 20px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
  display: none
}

.login-box .login-box-close {
  position: absolute;
  right: 10px;
  top: 5px
}

.login-box .login-box-head {
  text-transform: uppercase;
  border-bottom: 1px solid #d7d9cf;
  margin-bottom: 15px;
  font-size: 16px;
  padding-bottom: 10px;
  margin-top: 5px
}

.login-box input[type="text"] {
  margin-bottom: 5px
}

.login-box .control-group {
  margin-bottom: 5px
}

.slider-header {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 0px #58807d;
  margin: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #5c8a87;
  -webkit-box-shadow: 0px 2px 0px #95b7b5;
  -moz-box-shadow: 0px 2px 0px #95b7b5;
  box-shadow: 0px 2px 0px #95b7b5
}

.slider-header strong {
  color: #ffecb0
}

.slider-sub-header {
  color: #bdd3d2;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 24px;
  margin-top: 0px
}

.slider-sub-header.extra-margin {
  margin-bottom: 40px
}

.slider-w {
  text-align: center;
  background: #76a3a0 url(../imgs/slider-noise-blue-bg.jpg) top left repeat;
}

.slider-w .item {
  height: 440px;
  padding-top: 50px
}

.slider-w .sub-screenshot {
  padding: 10px;
  margin-top: 5px;
  background-color: #8a9b90;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 1px 0px #7e8f84 inset;
  -moz-box-shadow: 2px 2px 1px 0px #7e8f84 inset;
  box-shadow: 2px 2px 1px 0px #7e8f84 inset;
  color: #dfe8e2
}

.slider-w .zoomed-browser {
  padding-top: 10px;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear
}

.slider-w .zoomed-browser:hover {
  padding-top: 0px;
  padding-bottom: 10px
}

.slider-w .cta {
  margin-bottom: 20px
}

.slider-w .cta a {
  padding: 20px 35px;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  border: none;
  -webkit-box-shadow: 0px 0px 6px 1px #517875, 0px 2px 3px 1px #fff inset;
  -moz-box-shadow: 0px 0px 6px 1px #517875, 0px 2px 3px 1px #fff inset;
  box-shadow: 0px 0px 6px 1px #517875, 0px 2px 3px 1px #fff inset;
  border: 1px solid #416664
}

.slider-w .cta a.btn-danger, .slider-w .cta a.btn-warning, .slider-w .cta a.btn-info {
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2)
}

.slider-w .slider-browsers-w {
  position: relative;
  z-index: 998;
  position: relative;
  height: 255px
}

.slider-w .slider-browser {
  position: absolute;
  bottom: -100%;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease
}

.slider-w .slider-browser:hover {
  bottom: 2% !important
}

.slider-w .slider-browser-left {
  width: 30%;
  left: 5%
}

.slider-w .slider-browser-left:hover {
  left: 0
}

.slider-w .slider-browser-center {
  width: 40%;
  left: 50%;
  margin-left: -20%
}

.slider-w .slider-browser-right {
  width: 30%;
  right: 5%
}

.sub-slider-features {
  padding: 30px 0px 0px 0px;
  border-top: 2px solid #52554d;
  border-bottom: 3px solid #454841;
  background-color: #6c7065;
  z-index: 999;
  position: relative;
  -webkit-box-shadow: 0px -10px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 3px 0px 0px #797d71;
  -moz-box-shadow: 0px -10px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 3px 0px 0px #797d71;
  box-shadow: 0px -10px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 3px 0px 0px #797d71
}

.sub-slider-features .info-bullet {
  text-align: center;
  margin-bottom: 30px;
  padding: 0px 3%
}

.sub-slider-features .info-bullet>i {
  font-size: 100px;
  color: #fff;
  display: block;
  line-height: 102px;
  text-shadow: 4px 4px 0px #5f6359
}

.sub-slider-features .info-bullet img {
  margin-bottom: 15px
}

.sub-slider-features .info-bullet h5 {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px #5f6359;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 3px solid #797d71
}

.sub-slider-features .info-bullet p {
  font-size: 18px;
  line-height: 22px;
  color: #b8bbb3;
  text-transform: none;
  font-weight: 300
}

.just-stripped {
  background: transparent url(../theme_venera/stripped-bg.png) left top repeat
}

.section-wrapper {
  padding-top: 30px;
  padding-bottom: 30px
}

.section-wrapper.stripped {
  background: transparent url(../theme_venera/stripped-bg.png) left top repeat
}

.section-wrapper.under-slider {
  border-top: 3px solid #fff
}

.section-wrapper .section-main-header {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 36px;
  border-bottom: 1px dashed #cec6ae;
  padding-bottom: 15px
}

.section-wrapper .section-header {
  font-weight: 400;
  border-bottom: 3px solid #e3e4dd;
  -webkit-box-shadow: 0px 1px 0px #c2c4bb;
  -moz-box-shadow: 0px 1px 0px #c2c4bb;
  box-shadow: 0px 1px 0px #c2c4bb;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 28px;
  line-height: 30px;
  color: #3d3b36
}

.section-wrapper .section-paragraph {
  font-size: 18px;
  line-height: 30px
}

.section-wrapper .section-action {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #cec6ae;
  border-top: 1px dashed #cec6ae;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center
}

.section-wrapper .section-action .btn {
  text-transform: uppercase
}

.row-separated {
  margin-bottom: 40px
}

.white-card {
  padding: 10px;
  background-color: #f8f9f4;
  -webkit-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  -moz-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  margin-bottom: 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f9f4), color-stop(100%, #fdfdfb));
  background-image: -webkit-linear-gradient(#f8f9f4, #fdfdfb);
  background-image: -moz-linear-gradient(#f8f9f4, #fdfdfb);
  background-image: -o-linear-gradient(#f8f9f4, #fdfdfb);
  background-image: linear-gradient(#f8f9f4, #fdfdfb)
}

.white-card.just-white {
  background: #fff
}

.white-card .img-w {
  text-align: center;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 3px 3px #fff;
  -moz-box-shadow: 0px 0px 3px 3px #fff;
  box-shadow: 0px 0px 3px 3px #fff
}

.white-card .img-w.hover-fader {
  position: relative
}

.white-card .img-w.hover-fader .hover-fade {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  vertical-align: center;
  display: none;
  cursor: pointer
}

.white-card .img-w.hover-fader i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 48px;
  margin-left: -20px;
  color: #fff
}

.white-card .img-w.hover-fader:hover .hover-fade {
  display: block
}

.white-card h5 {
  font-weight: 400;
  color: #31302e;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cfd1c6;
  -webkit-box-shadow: 0px 1px 0px #fff;
  -moz-box-shadow: 0px 1px 0px #fff;
  box-shadow: 0px 1px 0px #fff;
  text-shadow: -1px -1px #fff
}

.white-card p {
  color: #4f4e4c;
  font-size: 15px;
  line-height: 20px;
  font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.white-card .welled {
  background-color: #edeee7;
  -webkit-box-shadow: -2px -2px 1px 0px #fff, 1px 1px 2px #aaac9f inset;
  -moz-box-shadow: -2px -2px 1px 0px #fff, 1px 1px 2px #aaac9f inset;
  box-shadow: -2px -2px 1px 0px #fff, 1px 1px 2px #aaac9f inset;
  padding: 10px
}

.white-card .welled p:last-child {
  margin-bottom: 0px
}

.white-card.extra-padding {
  padding: 20px
}

.white-card.no-padding {
  padding: 0px
}

.pricing-table {
  padding-top: 20px
}

.pricing-table .plan-name {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px
}

.pricing-table .pricing-plan-w {
  padding: 20px;
  text-align: center;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee
}

.pricing-table .pricing-plan-w.first-plan {
  border-left: none
}

.pricing-table .pricing-plan-w.last-plan {
  border-right: none
}

.pricing-table .plan-price-w {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px
}

.pricing-table .plan-price-desc {
  font-weight: 300;
  font-size: 16px;
  color: #B3D8CF;
  text-transform: lowercase;
  margin-bottom: 5px
}

.pricing-table .plan-price {
  line-height: 84px
}

.pricing-table .price-currency {
  font-size: 32px;
  font-weight: 300;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline
}

.pricing-table .price-self {
  font-weight: 300;
  vertical-align: bottom;
  font-size: 72px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline
}

.pricing-table .price-period {
  font-size: 24px;
  color: #B3D8CF;
  vertical-align: bottom;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline
}

.pricing-table .plan-desc p {
  background-color: #fefbee;
  border: 2px solid #eadeb1;
  padding: 10px;
  color: #978a55;
  margin-bottom: 20px
}

.pricing-table .plan-desc ul {
  list-style: none;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px
}

.pricing-table .plan-desc ul li {
  padding: 10px 0px;
  font-size: 18px;
  border-bottom: 1px solid #eee
}

.pricing-table .plan-desc ul li strong {
  background-color: #eaf5f9
}

.pre-footer {
  padding: 30px 0px;
  background: #92a298 url(../imgs/slider-noise-bg.jpg) left top repeat;
  border-top: 10px solid #7c8f83
}

.pre-footer .thumbnail {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff;
  div.ref {
    text-align: center;
    span {
      font-size: 42px;
      height: 100%;
      width: 100%;
      min-height: 50px;
      min-width: 50px;
    }
  }
}

.pre-footer .footer-logo {
  margin-bottom: 15px
}

.pre-footer .footer-logo a {
  font-size: 32px;
  font-weight: 300;
  color: #c4c7be;
  text-transform: uppercase;
  border-bottom: 5px solid #839188
}

.pre-footer .footer-logo strong {
  color: #fff;
  font-weight: 400
}

.pre-footer ul.footer-address {
  list-style: none;
  margin-left: 0px
}

.pre-footer ul.footer-address li {
  color: #fff;
  text-transform: uppercase
}

.pre-footer ul.footer-address li strong {
  color: #c9d3cd;
  font-weight: normal
}

.pre-footer .footer-header {
  font-size: 24px;
  border-bottom: 5px solid #8c9a91;
  padding-bottom: 10px;
  margin-top: 0px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase
}

.pre-footer .footer-list {
  list-style: square;
  color: #fff
}

.pre-footer .footer-list li {
  margin-bottom: 10px
}

.pre-footer .footer-list li a {
  color: #fff;
  font-size: 16px
}

.deep-footer {
  background-color: #6c7065;
  padding: 20px 0px;
  border-top: 2px solid #5a5e54
}

.deep-footer .copyright {
  color: #cccccc;
  text-transform: uppercase
}

.deep-footer .footer-links {
  margin: 0px;
  text-align: right
}
.deep-footer .footer-links li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: 10px
}

.deep-footer .footer-links li a {
  color: #cccccc;
  text-transform: uppercase;
}

.page-header {
  border-bottom: 3px solid #dadcd2;
  padding-bottom: 9px;
  margin: 20px 0 30px;
  background: transparent url(../assets/imgs/stripped-bg.png) left top repeat;
}